**/.idea/
**/.vs/
**/venv/
**/.venv/
**/serial-terminal-main/
**/LaserComWin_v1
**/PuTTY/
**/LaserCOM_win/
/Terminal.exe

**/manual/
**/img/
*.gitignore
*package.json
*package-lock.json

### WebStorm ###
**/.git/
**/.idea/
